<style>
  #shopify-section-{{ section.id }} .product-list:not(.product-list--carousel) {
    align-items: stretch;
  }

  #shopify-section-{{ section.id }} .product-list__intro-block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #shopify-section-{{ section.id }} .product-list__intro-block > * {
    flex-grow: 1;
  }

  #shopify-section-{{ section.id }} .product-list__intro-block .content-box {
    position: relative;
    height: 100%;
    border-radius: var(--product-card-border-radius, 0);
  }

  #shopify-section-{{ section.id }} .product-list__intro-block .content-box__background-media,
  #shopify-section-{{ section.id }} .product-list__intro-block .content-box__background-media img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--product-card-border-radius, 0);
  }

  #shopify-section-{{ section.id }} .product-list__intro-block--mobile-only {
    display: none;
  }

  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} .product-list__intro-block--desktop-only {
      display: none;
    }

    #shopify-section-{{ section.id }} .product-list__intro-block--mobile-only {
      display: flex;
    }
  }

  #shopify-section-{{ section.id }} {
    --product-list-column-count: {{ section.settings.products_per_row_mobile | times: 1 }};
  }

  .progress-bar-container {
    margin-top: 2rem;
    position: relative;
  }

  .progress-bar {
    height: 100%;
    position: absolute;
    inset: 0;
  }

  {%- unless section.settings.show_progress_bar_mobile -%}
    @media screen and (max-width: 999px) {
      .progress-bar-container {
        display: none;
      }
    }
  {%- endunless -%}

  {%- unless section.settings.show_progress_bar_desktop -%}
    @media screen and (min-width: 1000px) {
      .progress-bar-container {
        display: none;
      }
    }
  {%- endunless -%}

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} {
      --product-list-column-count: 2;
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      --product-list-column-count: {{ section.settings.products_per_row_desktop }};
    }
  }
</style>

<div class="color-scheme color-scheme--{{ section.settings.color_scheme.id }}">
  <div class="container">
    <div class="section-spacing section-spacing--tight">
        {%- assign product_list_id = 'product-list-' | append: section.id -%}

        {%- liquid
          assign product_list_class = ''

          if section.settings.stack_products_mobile == false and section.settings.stack_products_desktop == false
            assign product_list_class = 'product-list--carousel scroll-area bleed md:unbleed'
          elsif section.settings.stack_products_mobile == false
            assign product_list_class = 'md-max:product-list--carousel scroll-area bleed md:unbleed'
          elsif section.settings.stack_products_desktop == false
            assign product_list_class = 'md:product-list--carousel scroll-area'
          endif
        -%}

        <product-list id="{{ product_list_id }}" cell-selector=".product-card" class="product-list {{ product_list_class }}" style="--product-card-border-radius: {{ section.settings.product_card_border_radius }}px;" data-show-progress-bar-mobile="{{ section.settings.show_progress_bar_mobile }}" data-show-progress-bar-desktop="{{ section.settings.show_progress_bar_desktop }}">
          {%- capture sizes -%}(max-width: 699px) calc(100vw / {{ section.settings.products_per_row_mobile }} - 40px), (max-width: 999px) calc(100vw / {{ 3 | at_most: section.settings.products_per_row_desktop }} - 64px), calc((100vw - 96px) / {{ section.settings.products_per_row_desktop }}){%- endcapture -%}

          {%- for product in section.settings.product_list -%}
            {%- for block in section.blocks -%}
              {%- if block.settings.position != forloop.parentloop.index -%}
                {%- continue -%}
              {%- endif -%}

              <div class="product-list__promo {% if block.settings.image == blank and settings.product_listing_spacing == 'none' %}outline{% endif %} color-scheme color-scheme--{{ block.settings.color_scheme.id }}" {% if settings.stagger_products %}reveal-on-scroll="true"{% endif %} style="--product-list-promo-row-span: {{ block.settings.size | split: '_' | last }}; --product-list-promo-column-span: {{ block.settings.size | split: '_' | first }}; border-radius: {{ section.settings.product_card_border_radius }}px; overflow: hidden;" {{ block.shopify_attributes }}>
                <div class="content-box min-h-full">
                  <div class="content-box__background-media with-overlay" style="--overlay: {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity | divided_by: 100.0 }}">
                    {%- if block.settings.image != blank -%}
                      {%- render 'media', media: block.settings.image, mobile_media: block.settings.mobile_image -%}
                    {%- endif -%}
                  </div>

                  {%- if block.settings.heading != blank or block.settings.content != blank or block.settings.subheading != blank -%}
                    <div class="{{ block.settings.content_position }}">
                      <div class="prose prose-justify-{{ block.settings.content_position | split: '-' | last }}">
                        {%- if block.settings.subheading != blank -%}
                          {%- render 'subheading', content: block.settings.subheading -%}
                        {%- endif -%}

                        {%- if block.settings.heading != blank -%}
                          {%- render 'heading', content: block.settings.heading, style: block.settings.heading_size -%}
                        {%- endif -%}

                        {%- if block.settings.content != blank -%}
                          <div class="max-w-xs">
                            {{- block.settings.content -}}
                          </div>
                        {%- endif -%}

                        {%- if block.settings.button_text -%}
                          {%- render 'button',
                              content: block.settings.button_text,
                              href: block.settings.url,
                              style: block.settings.style,
                              external: block.settings.open_in_new_tab
                          -%}
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}

            {%- render 'product-card', product: product, reveal: true, sizes: sizes, position: forloop.index -%}
          {%- else -%}
            {%- for i in (1..4) -%}
              {%- render 'product-card-placeholder', loop_index: i -%}
            {%- endfor -%}
          {%- endfor -%}
        </product-list>

        {%- if section.settings.show_progress_bar_mobile or section.settings.show_progress_bar_desktop -%}
          <div class="progress-bar-container v-stack gap-4" style="background-color: {{ section.settings.progress_bar_bg_color }}; height: {{ section.settings.progress_bar_height }}px;">
            <div class="progress-bar" style="background-color: {{ section.settings.progress_bar_color }}; width: {{ section.settings.progress_bar_initial_width }}%;"></div>
          </div>
        {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_product_list.name",
  "class": "shopify-section--featured-product-list",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.featured_product_list.product_list"
    },
    {
      "type": "checkbox",
      "id": "stack_products_mobile",
      "label": "t:global.product_list.stack_products_mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "stack_products_desktop",
      "label": "t:global.product_list.stack_products_desktop",
      "default": false
    },
    {
      "type": "header",
      "content": "Progress Bar"
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar_mobile",
      "label": "Show progress bar on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar_desktop",
      "label": "Show progress bar on desktop",
      "default": false
    },
    {
      "type": "color",
      "id": "progress_bar_bg_color",
      "label": "Progress Bar Background Color",
      "default": "#e5e5e5"
    },
    {
      "type": "color",
      "id": "progress_bar_color",
      "label": "Progress Bar Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "progress_bar_height",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Progress Bar Height",
      "default": 2
    },
    {
      "type": "range",
      "id": "progress_bar_initial_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Ancho inicial de la barra de progreso",
      "default": 10
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "label": "t:global.product_list.products_per_row_mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 4,
      "label": "t:global.product_list.products_per_row_desktop",
      "default": 4
    },
    {
      "type": "range",
      "id": "product_card_border_radius",
      "min": 0,
      "max": 25,
      "step": 1,
      "unit": "px",
      "label": "Radio del borde de la tarjeta de producto",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "promo",
      "name": "t:sections.featured_product_list.blocks.promo.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:global.colors.scheme",
          "default": "scheme-2"
        },
        {
          "type": "range",
          "id": "position",
          "label": "t:sections.main_collection.blocks.general.position",
          "info": "t:sections.main_collection.blocks.general.position_info",
          "min": 1,
          "max": 50,
          "default": 3
        },
        {
          "type": "select",
          "id": "size",
          "label": "t:global.sizes.size",
          "options": [
            {
              "value": "1_1",
              "label": "t:sections.main_collection.blocks.general.sizes.1_1"
            },
            {
              "value": "2_1",
              "label": "t:sections.main_collection.blocks.general.sizes.2_1"
            },
            {
              "value": "2_2",
              "label": "t:sections.main_collection.blocks.general.sizes.2_2"
            }
          ],
          "default": "2_1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured_product_list.intro_image_desktop",
          "info": "t:sections.featured_product_list.intro_image_info"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.featured_product_list.intro_image_mobile"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "t:global.colors.image_overlay_color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:global.colors.image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "default": 20
        },
        {
          "type": "header",
          "content": "t:global.text.content"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:global.position.content_position",
          "options": [
            {
              "value": "place-self-start",
              "label": "t:global.position.top_left"
            },
            {
              "value": "place-self-start-center",
              "label": "t:global.position.top_center"
            },
            {
              "value": "place-self-start-end",
              "label": "t:global.position.top_right"
            },
            {
              "value": "place-self-center-start",
              "label": "t:global.position.middle_left"
            },
            {
              "value": "place-self-center",
              "label": "t:global.position.middle_center"
            },
            {
              "value": "place-self-center-end",
              "label": "t:global.position.middle_right"
            },
            {
              "value": "place-self-end-start",
              "label": "t:global.position.bottom_left"
            },
            {
              "value": "place-self-end-center",
              "label": "t:global.position.bottom_center"
            },
            {
              "value": "place-self-end",
              "label": "t:global.position.bottom_right"
            }
          ],
          "default": "place-self-end-start"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:global.text.subheading"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:global.text.heading",
          "default": "The essentials"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:global.text.heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Large"
            },
            {
              "value": "h4",
              "label": "Medium"
            },
            {
              "value": "h5",
              "label": "Small"
            },
            {
              "value": "h6",
              "label": "X-Small"
            },
            {
              "value": "h7",
              "label": "XX-Small"
            }
          ],
          "default": "h5"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Share details of your store's product selection, or share a story that speaks to your customers.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:global.text.button_text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:global.text.link"
        },
        {
          "type": "checkbox",
          "id": "open_in_new_tab",
          "label": "t:global.text.open_in_new_tab",
          "default": false
        },
        {
          "type": "select",
          "id": "style",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.button_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            },
            {
              "value": "link",
              "label": "t:global.text.button_style_options.link"
            }
          ],
          "default": "outline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_product_list.name",
      "category": "t:global.categories.products"
    }
  ]
}
{% endschema %}
