<style>
  #shopify-section-{{ section.id }} .product-list:not(.product-list--carousel) {
    align-items: stretch;
  }

  #shopify-section-{{ section.id }} .featured-product-list__container--full-width {
    margin-inline: 0;
    overflow: hidden;
  }

  #shopify-section-{{ section.id }} .product-list__promo {
    grid-column: span 1;
  }

  #shopify-section-{{ section.id }} .product-list__promo .content-box {
    position: relative;
    height: 100%;
    border-radius: var(--product-card-border-radius, 0);
  }

  #shopify-section-{{ section.id }} .product-list__promo .content-box__background-media,
  #shopify-section-{{ section.id }} .product-list__promo .content-box__background-media img {
    position: absolute !important;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--product-card-border-radius, 0);
  }

  #shopify-section-{{ section.id }} {
    --product-list-column-count: {{ section.settings.products_per_row_mobile | times: 1 }};
  }

  #shopify-section-{{ section.id }} .featured-product-list__scroll-controls {
    margin-block: 2rem;
  }

  #shopify-section-{{ section.id }} .featured-product-list__scroll-controls .progress-bar {
    flex: 1;
  }

  #shopify-section-{{ section.id }} .featured-product-list__scroll-controls .h-stack {
    flex-shrink: 0;
  }

  #shopify-section-{{ section.id }} .featured-product-list__scroll-controls carousel-prev-button .icon-chevron-right {
    transform: scaleX(-1);
  }

  {%- unless section.settings.show_progress_bar_mobile -%}
    @media screen and (max-width: 999px) {
      #shopify-section-{{ section.id }} .featured-product-list__scroll-controls {
        display: none;
      }
    }
  {%- endunless -%}

  {%- unless section.settings.show_progress_bar_desktop -%}
    @media screen and (min-width: 1000px) {
      #shopify-section-{{ section.id }} .featured-product-list__scroll-controls {
        display: none;
      }
    }
  {%- endunless -%}

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} {
      --product-list-column-count: 2;
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      --product-list-column-count: {{ section.settings.products_per_row_desktop }};
    }
  }
</style>

<div class="color-scheme color-scheme--{{ section.settings.color_scheme.id }}">
  <div class="container {% if section.settings.remove_side_spacing %}featured-product-list__container--full-width{% endif %}">
    <div class="section-spacing section-spacing--tight">
        {%- assign product_list_id = 'product-list-' | append: section.id -%}

        {%- liquid
          assign product_list_class = ''

          if section.settings.stack_products_mobile == false and section.settings.stack_products_desktop == false
            assign product_list_class = 'product-list--carousel scroll-area bleed md:unbleed'
          elsif section.settings.stack_products_mobile == false
            assign product_list_class = 'md-max:product-list--carousel scroll-area bleed md:unbleed'
          elsif section.settings.stack_products_desktop == false
            assign product_list_class = 'md:product-list--carousel scroll-area'
          endif
        -%}

        <product-list id="{{ product_list_id }}" cell-selector=".product-card" class="product-list {{ product_list_class }}" style="--product-card-border-radius: {{ section.settings.product_card_border_radius }}px;">
          {%- capture sizes -%}(max-width: 699px) calc(100vw / {{ section.settings.products_per_row_mobile }} - 40px), (max-width: 999px) calc(100vw / {{ 3 | at_most: section.settings.products_per_row_desktop }} - 64px), calc((100vw - 96px) / {{ section.settings.products_per_row_desktop }}){%- endcapture -%}

          {%- for product in section.settings.product_list -%}
            {%- for block in section.blocks -%}
              {%- if block.settings.position != forloop.parentloop.index -%}
                {%- continue -%}
              {%- endif -%}

              {%- render 'featured-product-list-promo', block: block, section: section -%}
            {%- endfor -%}

            {%- render 'product-card', product: product, reveal: true, sizes: sizes, position: forloop.index -%}
          {%- else -%}
            {%- for i in (1..4) -%}
              {%- render 'product-card-placeholder', loop_index: i -%}
            {%- endfor -%}
          {%- endfor -%}

          {%- comment -%}
          A block whose position is beyond the total number of products has no matching product to be inserted
          before, so it would never render. We treat any such block as "show at the end" instead.
          {%- endcomment -%}
          {%- for block in section.blocks -%}
            {%- if block.settings.position <= section.settings.product_list.size -%}
              {%- continue -%}
            {%- endif -%}

            {%- render 'featured-product-list-promo', block: block, section: section -%}
          {%- endfor -%}
        </product-list>

        {%- if section.settings.show_progress_bar_mobile or section.settings.show_progress_bar_desktop -%}
          <div class="featured-product-list__scroll-controls h-stack gap-4">
            <progress-bar track-scroll-target="{{ product_list_id }}" class="progress-bar"></progress-bar>

            <div class="h-stack gap-2">
              <carousel-prev-button aria-controls="{{ product_list_id }}">
                <button disabled class="circle-button circle-button--outline">
                  <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
                  {%- render 'icon' with 'chevron-right', width: 8 -%}
                </button>
              </carousel-prev-button>

              <carousel-next-button aria-controls="{{ product_list_id }}">
                <button class="circle-button circle-button--outline">
                  <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
                  {%- render 'icon' with 'chevron-right', width: 8 -%}
                </button>
              </carousel-next-button>
            </div>
          </div>
        {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_product_list.name",
  "class": "shopify-section--featured-product-list",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "remove_side_spacing",
      "label": "t:sections.featured_product_list.remove_side_spacing",
      "info": "t:sections.featured_product_list.remove_side_spacing_info",
      "default": false
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.featured_product_list.product_list"
    },
    {
      "type": "checkbox",
      "id": "stack_products_mobile",
      "label": "t:global.product_list.stack_products_mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "stack_products_desktop",
      "label": "t:global.product_list.stack_products_desktop",
      "default": false
    },
    {
      "type": "header",
      "content": "Scroll controls"
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar_mobile",
      "label": "Show scroll controls on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar_desktop",
      "label": "Show scroll controls on desktop",
      "default": false
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "label": "t:global.product_list.products_per_row_mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 4,
      "label": "t:global.product_list.products_per_row_desktop",
      "default": 4
    },
    {
      "type": "range",
      "id": "product_card_border_radius",
      "min": 0,
      "max": 25,
      "step": 1,
      "unit": "px",
      "label": "Radio del borde de la tarjeta de producto",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "promo",
      "name": "t:sections.featured_product_list.blocks.promo.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:global.colors.scheme",
          "default": "scheme-2"
        },
        {
          "type": "range",
          "id": "position",
          "label": "t:sections.main_collection.blocks.general.position",
          "info": "t:sections.main_collection.blocks.general.position_info",
          "min": 1,
          "max": 50,
          "default": 3
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured_product_list.intro_image_desktop",
          "info": "t:sections.featured_product_list.intro_image_info"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.featured_product_list.intro_image_mobile",
          "info": "t:sections.featured_product_list.intro_image_mobile_info"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "t:global.colors.image_overlay_color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:global.colors.image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "default": 20
        },
        {
          "type": "header",
          "content": "t:global.text.content"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:global.position.content_position",
          "options": [
            {
              "value": "place-self-start",
              "label": "t:global.position.top_left"
            },
            {
              "value": "place-self-start-center",
              "label": "t:global.position.top_center"
            },
            {
              "value": "place-self-start-end",
              "label": "t:global.position.top_right"
            },
            {
              "value": "place-self-center-start",
              "label": "t:global.position.middle_left"
            },
            {
              "value": "place-self-center",
              "label": "t:global.position.middle_center"
            },
            {
              "value": "place-self-center-end",
              "label": "t:global.position.middle_right"
            },
            {
              "value": "place-self-end-start",
              "label": "t:global.position.bottom_left"
            },
            {
              "value": "place-self-end-center",
              "label": "t:global.position.bottom_center"
            },
            {
              "value": "place-self-end",
              "label": "t:global.position.bottom_right"
            }
          ],
          "default": "place-self-end-start"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:global.text.subheading"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:global.text.heading",
          "default": "The essentials"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:global.text.heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Large"
            },
            {
              "value": "h4",
              "label": "Medium"
            },
            {
              "value": "h5",
              "label": "Small"
            },
            {
              "value": "h6",
              "label": "X-Small"
            },
            {
              "value": "h7",
              "label": "XX-Small"
            }
          ],
          "default": "h5"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Share details of your store's product selection, or share a story that speaks to your customers.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:global.text.button_text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:global.text.link"
        },
        {
          "type": "checkbox",
          "id": "open_in_new_tab",
          "label": "t:global.text.open_in_new_tab",
          "default": false
        },
        {
          "type": "select",
          "id": "style",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.button_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            },
            {
              "value": "link",
              "label": "t:global.text.button_style_options.link"
            }
          ],
          "default": "outline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_product_list.name",
      "category": "t:global.categories.products"
    }
  ]
}
{% endschema %}
